.spotify-navbar {
  width: 75vw;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #121212;
  color: white;

  .left {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .right {
    display: flex;

    gap: 20px;
    color: #a7a7a7;
    position: absolute;

    right: 0;
    margin-right: 20px;

    .signup {
      width: 50px;

      .link {
        text-decoration: none;
      }

      h3 {
        color: #a7a7a7;
        display: flex;
      }
    }
    .login {
      display: flex;
      align-items: center;

      button {
        background-color: white;
        color: #000000;
        font-weight: bold;
        width: 100px;
        height: 40px;

        border-radius: 15px;
        border: none;
      }
    }
  }
}
