.rightbar-container {
  flex: 2;

  .rightNavbar {
    position: sticky;
    top: 0;
    z-index: 999;
  }
  .spotify-rightbar {
    background-color: #1c1c1c;
    width: 75vw;

    .wrapper {
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      .top {
        margin-left: 20px;
        display: flex;
        justify-content: space-between;

        .leftSide {
          margin-left: 10px;
          flex: 3;
          h2 {
            color: white;
          }
        }

        .rightSide {
          flex: 0.3;

          h3 {
            color: white;
          }
        }
      }
      .music-content {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
        margin-left: 20px;

        .box {
          min-width: 220px;
          width: 220px;
          min-height: 320px;
          height: 250px;
          object-fit: cover;
          overflow: hidden;
          line-height: 0.1;

          padding: 10px;
          border: 1px solid black;
          color: #a7a7a7;
          text-align: start;

          &:hover {
            background-color: #2a2a2a;
            &:hover .icon {
              display: block;
            }
          }
          .image {
            position: relative;

            img {
              width: 100%;
            }
            Button {
              color: #1ed760;
              position: absolute;
              bottom: 0;
              right: 0;

              .icon {
                height: 100px;
                width: 50px;
                display: none;
              }
            }
          }

          .details {
            line-height: 1.2;

            h4 {
              color: white;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .rightbar-container {
    .spotify-rightbar {
      h3 {
        display: flex;
        margin: none;
      }
    }
  }
}
